<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>注册</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="plugins/elementui/index.css">
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="hold-transition">
<div id="register" style="width: 500px;height: 400px;margin-top: 150px;margin-left: 400px;">
    <el-form ref="registerForm" :model="registerForm" :rules="rules" label-width="80px">
        <el-form-item label="账号" prop="username">
            <el-input v-model.trim="registerForm.username" auto-complete="off" style="width: 300px;"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
            <el-input v-model.trim="registerForm.password" auto-complete="off" style="width: 300px;"></el-input>
        </el-form-item>
        <!--<el-form-item label="姓名" prop="name">
            <el-input v-model.trim="registerForm.name" auto-complete="off" style="width: 300px;"></el-input>
        </el-form-item>-->
        <el-form-item label="年龄" prop="age">
            <el-input v-model.trim="registerForm.age" auto-complete="off" style="width: 300px;"></el-input>
        </el-form-item>
        <el-form-item label="性别"  prop="sex">
            <el-radio v-model="registerForm.sex" label="男" >男</el-radio>
            <el-radio v-model="registerForm.sex" label="女" >女</el-radio>
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
            <el-input v-model.trim="registerForm.email" auto-complete="off" style="width: 300px;"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" size="mini" style="width: 300px;height: 50px;font-size: 30px;"  @click="onRegister()">注册</el-button>
        </el-form-item>
    </el-form>
</div>
</body>
<!-- 引入组件库 -->
<script src="js/vue.js"></script>
<script src="plugins/elementui/index.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script>
    const vue = new Vue({
        el: '#register',
        data() {
            return {
                registerForm: {
                    username: '',
                    password: '',
                    name: '',
                    age: '',
                    email: '',
                    sex:''
                },
                rules: {
                    username: [
                        { required: true, message: '请输入账号', trigger: 'blur' },
                        { min: 1, max: 20, message: '长度在 1 到 20 个字符', trigger: 'blur'}
                    ],
                    password: [
                        { required: true, message: '请输入密码', trigger: 'blur' },
                        { min: 1, max: 20, message: '长度在 1 到 20 个字符', trigger: 'blur'}
                    ],
                    name: [
                        { required: true, message: '请输入姓名', trigger: 'blur' },
                        { min: 1, max: 20, message: '长度在 1 到 20 个字符', trigger: 'blur'}
                    ],
                    age: [
                        { required: true, message: '请输入年龄', trigger: 'blur' },
                    ],
                    email: [
                        { required: true, message: '邮箱不能为空', trigger: 'blur' },
                        { type: 'email', message: '请输入正确的邮箱地址:eg,xxxx@xx.com', trigger: ['blur', 'change']
                        }
                    ],

                }
            };
        },
        methods: {
            //登录
            onRegister() {
                const url = "/user/register";
                // console.log(url,this.registerForm);
                axios.post(url,this.registerForm).then((res)=>{
                    //判断当前操作是否成功
                    if (res.data.code==200) {
                        //1.关闭弹层
                        this.dialogFormVisible = false;
                        this.$message.success("注册成功");
                        window.location.replace("http://localhost:9000/login.html");
                    } else {
                        this.$message.error("注册失败");
                    }

                }) .catch((error) => {
                    console.error('Error registering user:', error);
                    alert("注册过程中出现错误，请稍后重试。");
                });
            }
        }
    })
</script>
</html>
